#external libs:
WTForms==2.0.2
uWSGI==2.0.14
rstr==2.2.3
slugid==1.0.7
netifaces
colored
MarkdownMail==0.4.*

#yaal libs:
yrouting==0.6.0
ysessions==0.2.3
ystatistics==0.6.1
ytemplates==0.5.4
ywsgi==0.7.0
yzodb==1.0.2

#for tests:
WebTest==2.0.27
pytest==3.*
pytest-cov==2.*
pytest-xdist==1.*
pytest-sugar==0.*
pyflakes==1.4.0

#for administration:
ipython
ptpython

