{% extends 'players/base.html' %}


{% block content %}
<div class="row">
    {% if player.games %}
        {% for game in player.games %}
        <h2>{{ game.name }} <small>{% if game.preparing %}
                Preparing
            {% elif game.running %}
                Running
            {% else %}
                Unknown
            {% endif %}</small>
        </h2>

            {% if game.running %}
                {% if player.ghostified %}
                <p>You have been ghostified.</p>
                {% else %}
                <p>Your current target is {{ player.current_target_for_game(game).email }}.</p>

                <div class="col-md-6">
                    {% if player.hunter_hunt_for_game(game).done_according_hunter %}
                    <em>I ghostified {{ player.current_target_for_game(game).email }}</em>
                    {% else %}
                    <a href="{{ forms.players.GhostifyPlayer.make_url(game, player) }}" class="btn btn-info"><span class="glyphicon glyphicon-ok"></span> I ghostified {{ player.current_target_for_game(game).email }}</a>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if player.hunted_hunt_for_game(game).done_according_target %}
                    <em>I've been ghostified!</em>
                    {% else %}
                    <a href="{{ forms.players.GhostifiedPlayer.make_url(game, player) }}" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> I've been ghostified!</a>
                    {% endif %}
                </div>
                {% endif %}
                Score: {{ player.ghostified_players_for_game(game) | length }} ghostification(s)
            {% endif %}
        {% endfor %}
     {% else %}
         No games
     {% endif %}
</div>

<!-- {{ player.id }} -->
<!-- player home page -->
{% endblock %}

