<zeo>
    address localhost:8800
    transaction-timeout 120
</zeo>

<blobstorage>
    blob-dir ./local.persistent/blobs/
    <filestorage 1>
        path ./local.persistent/Data.fs
    </filestorage>
</blobstorage>

<eventlog>
    level INFO
    <logfile>
        path ./local.persistent/logs/zeo.log
        format %(asctime)s %(levelname)s %(message)s
    </logfile>
</eventlog>
