{% extends 'users/base.html' %}


{% block content %}
<div class="row">
    {% if player.games %}
        {% for game in player.games %}
        <h2>{{ game.name }} <small>{% if game.preparing %}
                Preparing
            {% elif game.running %}
                Running
            {% else %}
                Unknown
            {% endif %}</small>
        </h2>

            {% if game.running %}
            <p>Your target is {{ player.current_target_for_game(game).email }}.</p>

            <div class="col-md-6">
                <a href="{{ forms.players.GhostifyPlayer.make_url(game, player) }}" class="btn btn-info"><span class="glyphicon glyphicon-ok"></span> I ghostified {{ player.current_target_for_game(game).email }}</a>
            </div>
            <div class="col-md-6">
                <a href="{{ forms.players.GhostifiedPlayer.make_url(game, player) }}" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> I've been ghostified!</a>
            </div>
            {% endif %}
        {% endfor %}
     {% else %}
         No games
     {% endif %}
</div>

<!-- {{ player.id }} -->
<!-- player home page -->
{% endblock %}

