{% extends 'users/base.html' %}


{% block content %}
<div class="row">
    {% if player.games %}
        {% for game in player.games %}
        <h2>{{ game.name }} <small>{% if game.preparing %}
                Preparing
            {% elif game.running %}
                Running
            {% else %}
                Unknown
            {% endif %}</small>
        </h2>

            {% if game.running %}
            <p>Your target is {{ player.current_target_for_game(game).email }}.</p>
            {% endif %}
        {% endfor %}
     {% else %}
         No games
     {% endif %}
</div>

<!-- {{ player.id }} -->
<!-- player home page -->
{% endblock %}

