{% import 'macro/form.jinja' as macros %}
{% extends 'admin/base.html' %}


{% block menu %}
{{ generate_menu('games') }}
{% endblock %}


{% import 'macro/form.jinja' as macros %}
{% block content %}

<div class="row">
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>Creation date</dt>
            <dd>{{ game.creation_datetime().strftime("%Y-%m-%d %H:%M") }}</dd>
            <dt>Status</dt>
            <dd>
            {% if game.preparing %}
                Preparing
            {% elif game.running %}
                Running
            {% else %}
                Unknown
            {% endif %}

            {% if game.preparing %}
            <dt>Action</dt>
            <dd>
                <a href="{{ forms.admin.StartGame.make_url(game) }}" class="btn btn-warning"><span class="glyphicon glyphicon-fire"></span> Start game</a>
            </dd>
            {% endif %}
        </dl>
    </div>

    <div class="col-md-4">
    {% call macros.render_form(form, form_title='Edit game', html_form_id="update_game_form", action_text="Update") %}
            {{ macros.render_field(form.name, placeholder="Insert name") }}
    {% endcall %}
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>{{ game.waiting_players | length }} waiting players</h2>
        {% if game.waiting_players %}
        <ul>
            {% for player in game.waiting_players %}
            <li><a href="{{ pages.admin.PlayerDetails.make_url(player)}}">{{ player.email }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        No waiting players
        {% endif %}
    </div>
    <div class="col-md-4">
        {% call macros.render_form(add_player_form, form_title='Add player', html_form_id="add_player_form", action_text="Add") %}
                {{ add_player_form.game() }}
                {{ macros.render_field(add_player_form.email, placeholder="Insert e-mail") }}
        {% endcall %}
    </div>
</div>


<div class="row">
   <h2>{{ game.playing_players | length }} players currently in game</h2>
   {% if game.playing_players %}
   <p>
        {% for player in game.players_loop %}
        <a href="{{ pages.admin.PlayerDetails.make_url(player)}}">{{ player.email }}</a> {% if not loop.last %}→{% endif %}
        {% endfor %}
    </p>
   {% else %}
   No players currently playing
   {% endif %}
</div>

{% endblock %}
