{% import 'macro/form.jinja' as macros %}
{% extends 'admin/base.html' %}


{% block menu %}
{{ generate_menu('users') }}
{% endblock %}


{% import 'macro/form.jinja' as macros %}
{% block content %}

<div class="row">
    <h1>{{ user.email }} <a href="{{ forms.admin.ConnectAsPlayer.make_url(user) }}" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-circle-arrow-right"></span> Connection</a></h1>


    {% call macros.render_form(form, form_title='Modify a player', action_text='Update') %}
            {{ macros.render_field(form.email, placeholder="Insert e-mmail") }}
    {% endcall %}
</div>

<div class="row">
    <h2>Games</h2>
    <ul>
    {% for game in user.games %}
        <li><a href="{{ pages.admin.GameDetails.make_url(game) }}">{{ game.name }}</a></li>
    {% else %}
        <li>No games</li>
    {% endfor %}
    <ul>
</div>
{% endblock %}
